<footer class="w-full text-center p-4 text-xs text-gray-400">
    <p>
        Built with ❤️ using
        <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer"
            class="underline hover:text-violet-800"
            >Astro</a
        >
    </p>
</footer>
