---
import { Icon } from 'astro-icon/components';
---

<header class="mx-auto w-full max-w-5xl px-4 pt-4">
    <nav class="flex flex-wrap items-center justify-between">
        <div class="flex items-center gap-2">
            <a href="/" class="flex items-center font-bold">Pierre</a>
        </div>

        <ul id="nav-menu" class="mt-0 flex w-auto gap-4 space-x-2">
            <li>
                <a
                    href="https://github.com/iwa"
                    class="flex items-center gap-1 transition duration-150 ease-in-out hover:text-violet-800"
                >
                    <Icon name="ri:github-line" />
                    <span>Github</span>
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/pbastard"
                    class="flex items-center gap-1 transition duration-150 ease-in-out hover:text-violet-800"
                >
                    <Icon name="ri:linkedin-line" />
                    <span>Linkedin</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
