---
import { Icon } from 'astro-icon/components'
---

<header class="w-full px-4 pt-4 max-w-5xl mx-auto">
    <nav class="flex items-center justify-between flex-wrap">
        <div class="flex gap-2 items-center">
            <a href="mailto:contact@iwa.sh" aria-label="email">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="4"></circle>
                    <path
                        d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"
                    ></path>
                </svg>
            </a>
            <a
                href="/"
                class="flex items-center font-bold"
            >
                iwa
            </a>
        </div>

        <ul id="nav-menu" class="flex gap-4 w-auto mt-0 space-x-2">
            <li>
                <a
                    href="https://github.com/iwa"
                    class="hover:text-violet-800 transition duration-150 ease-in-out flex items-center gap-1"
                    >
                    <Icon name="ri:github-line" />
                    <span>Github</span>
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/pbastard"
                    class="hover:text-violet-800 transition duration-150 ease-in-out flex items-center gap-1"
                    >
                    <Icon name="ri:linkedin-line" />
                    <span>Linkedin</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
