<section id="contact" class="mx-auto my-16 max-w-2xl">
    <div class="text-center text-4xl font-bold">
        Looking for a potential hire?

        <a
            class="mt-8 block"
            href="mailto:contact@pbastard.fr?subject=Hi%20Pierre!%20I%20have%20a%20job%20for%20you!"
        >
            <button
                type="button"
                class="rounded-xl bg-gradient-to-r from-indigo-500 to-purple-600 px-6 py-4 text-xl font-semibold text-white transition-all ease-out hover:scale-110"
            >
                Let's chat!
            </button>
        </a>
    </div>
</section>
