<section class="mx-auto max-w-5xl pb-6">
    <div class="mb-8 text-3xl font-bold text-gray-700">
        <span class="align-middle text-xl text-violet-400">#</span> Experiences
    </div>

    <div class="mb-8 text-2xl font-bold text-gray-700">
        <span class="align-middle text-xl text-violet-400">##</span> Diplomas
    </div>

    <div class="my-8 text-lg text-gray-900">
        <ul class="list-disc pl-10 text-gray-600">
            <li><span class="font-semibold text-gray-900">Baccalauréat Scientifique</span>, Lycée La Providence, Amiens, 2019</li>
            <li><span class="font-semibold text-gray-900">License in Computer Science</span>, Université Picardie Jules Verne, Amiens, 2021</li>
            <li><span class="font-semibold text-gray-900">Engineering Degree in Software Development</span>, EFREI Paris, Villejuif, 2024</li>
        </ul>
    </div>
</section>
