---
import type { Project } from '../types/Project';

const projects: Project[] = [
    { name: "Kwako", image: "/img/projects/kwako.webp", link: null, description: "General-purpose Discord bot, it was made by using Q-Bot as a base." },
    { name: "Q-Bot", image: "/img/projects/q-bot.webp", link: null, description: "Discord bot created for the old Qumu Discord server. It was my first real 'serious' project." }
];
---

<div>
    <div class="text-3xl font-bold mb-8">Projects</div>
<section
    class="grid grid-cols-2 md:grid-cols-3 gap-4 my-8 max-w-5xl mx-auto"
    style="min-height: 300px"
>

    {
        projects.map((item, index) => (
            <div class="relative row-span-2 shadow-sm md:shadow-2xl">
                <img
                    class="rounded object-cover w-full h-full"
                    loading="lazy"
                    src={ item.image }
                />
                <div class="absolute top-0 left-0 rounded w-full h-full bg-black bg-opacity-40 flex flex-col items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-200">
                    <a
                        class="px-6 py-2 rounded-full bg-gray-900 text-white"
                        href={ item.link ? item.link : 'javascript:void(0);' }
                        target={ item.link ? '_blank' : '_self' }
                        rel="noopener noreferrer"
                    >
                        { item.name }
                    </a>
                    <p class="text-gray-100 py-2 px-6">
                        { item.description }
                    </p>
                </div>
            </div>
        ))
    }
</section>
</div>
