---
import { Icon } from 'astro-icon/components';

import type { Project } from '../types/Project';

const projects: Project[] = [
    {
        name: 'WomHand',
        image: '/img/projects/womhand.webp',
        link: undefined,
        description: 'Final year project in my Engineer school. Project in partnership with the LADAPT association. Website designed to help women with disabilities seeking to find adapted jobs.',
    },
    {
        name: 'Kubic Architecture',
        image: '/img/projects/kubic.webp',
        link: 'https://kubic-architecture.com',
        description: 'Website created for Kubic Architecture. Made with Astro, Tailwind CSS, VueJS & Strapi.',
    },
    {
        name: 'Carré Construction',
        image: '/img/projects/carre.webp',
        link: 'https://carre-construction.com',
        description: 'Website created for Carré Construction. Made with Astro & Tailwind CSS.',
    },
    {
        name: 'Homelab',
        image: '/img/projects/homelab.webp',
        link: 'https://wiki.iwa.sh',
        description:
            'Since 2019, I began self-hosting my own services on a little Debian VPS. Nowadays, I have 2 servers at home. I\'m learning a lot through my journey, and loving every bit of it. Self-hosting has become one of my core passion.',
    },
    {
        name: 'Kwako',
        image: '/img/projects/kwako.webp',
        link: undefined,
        description:
            'General-purpose Discord bot, it was made by using Q-Bot as a base.',
    },
    {
        name: 'Q-Bot',
        image: '/img/projects/q-bot.webp',
        link: 'https://github.com/iwa/Q-Bot',
        description:
            "Discord bot created for the old Qumu Discord server. It was my first real 'serious' project.",
    },
];
---

<section class="mx-auto max-w-5xl pb-6">
    <div class="mb-8 text-3xl font-bold text-gray-700"><span class="align-middle text-xl text-violet-400">#</span> Projects</div>
    <div
        class="my-8 grid grid-cols-2 gap-4 md:grid-cols-3"
        style="min-height: 300px"
    >
        {
            projects.map((item, index) => (
                <div class="relative row-span-2 shadow-sm md:shadow-2xl">
                    <img
                        class="h-full w-full rounded object-cover"
                        loading="lazy"
                        src={item.image}
                    />
                    <div class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center rounded bg-black bg-opacity-35 opacity-0 backdrop-blur-md transition-opacity duration-200 hover:opacity-100">
                        <a
                            class="rounded-full bg-gray-900 px-6 py-2 font-bold text-gray-50 flex justify-center items-center gap-1"
                            href={item.link ? item.link : 'javascript:void(0);'}
                            target={item.link ? '_blank' : '_self'}
                            rel="noopener noreferrer"
                        >
                            {item.name} { (item.link != undefined) ? (<Icon name="ri:external-link-line" />) : "" }
                        </a>
                        <p class="px-6 py-2 text-gray-50">{item.description}</p>
                    </div>
                </div>
            ))
        }
    </div>
</section>
