---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Pierre Bastard ・ Portfolio</title>
    </head>
    <body class="flex min-h-screen flex-col bg-white">
        <Header />

        <main class="mx-4 mt-8 flex-1 sm:mt-16 md:mx-12 lg:mx-24">
            <slot />
        </main>

        <Footer />
    </body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

    body {
        font-family: 'Inter', sans-serif;
    }
</style>
