---
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Pierre Bastard・Portfolio</title>
    </head>
    <body class="flex flex-col min-h-screen bg-white">
        <Header />

        <main class="flex-1 mx-4 md:mx-12 lg:mx-24 mt-8 sm:mt-16">
            <slot />
        </main>

        <Footer />
    </body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

    body {
        font-family: "Inter", sans-serif;
    }
</style>
